# Core
streamlit==1.30.0
numpy==1.26.0
pandas==2.1.0

# Visualización
matplotlib==3.8.0
seaborn==0.13.2
plotly==6.1.0
graphviz==0.21

# Machine Learning
scikit-learn==1.3.0
imbalanced-learn==0.14.0

scipy==1.11.0

# Análisis de componentes múltiples
prince==0.16.1
mca==1.0.4


# Opcional, para compatibilidad y utilidades
joblib==1.3.2

